* { padding: 0;
      margin: 0; }

#cargando { display: none; }

html {background-color: black; }

body article {background-color: black; }

.Bodyc article {background-color: #3b3b3b}

main h4 {color: black; }

main {color: white; }

main tr {color: white; }

main {padding-bottom: 50px; }

header { display: inline-block;
         width: 140%;
         height: 100px;
         text-align: center;
         background-color: #2e282f }


header ul { list-style-type: none; }

header .z { display: inline-block;
           padding-top: 20px;
           padding-right: 20px; }

header .car-img { display: inline-block;
           padding-top: 10px;
           padding-right: 20px; }

header .r { float: left;
            padding-top: 3px;
            padding-left: 25px;
            font-size: 20px; }

header a { 
        color: #ebebeb;
        align-items: center;
        display: flex;
        justify-content: center;
       }
        
header a:hover { color:#d620a0;
                 text-decoration: none; }

.final { background-color: #7a6879;
         display: inline-block;
         width: 100%;
         height: 130px;
         text-align: left;
         color: white;
         padding-left: 360px;
         align-items: center;
         display: flex;
         justify-content: left;
         font-size: 15px; }

.imagenP { padding-top: 100px;
           padding-bottom: 70px;
           padding-left: 380px; }

.x { color: white;
     text-align: justify;
     padding-left: 380px;
     padding-right: 390px;
     padding-bottom: 25px;
     font-family: Arial, Helvetica, sans-serif;
     font-size: 15px; }

.Nosotros { text-align: center;
            color: white;
            padding-top: 40px; }

article {padding-bottom: 50px; }

.n { text-align: justify;
     padding-left: 650px;
     padding-right: 650px;
     padding-bottom: 25px;
     padding-top: 15px;
     font-family: Arial, Helvetica, sans-serif;
     font-size: 15px; }

.Contactanos { text-align: center;
            color: white;
            padding-top: 50px; }

.redes { margin-left: auto;
         margin-right: auto;
         margin-top: 80px;
         margin-bottom: 80px; 
         table-layout: fixed; }

.c { padding-top: 35px;
     padding-bottom: 50px;}
 
